.projectContainer {
    height: 120vh;
    background: white;
    font-family: 'Cinzel', serif;
    overflow-x: hidden


}

@media(max-width: 600px) {
    .projectContainer {
        height: 196vh;
        
    }
}

.navbar {
    display: flex;
    justify-content: center;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    padding: 0.3%;
    width: 100%;
}

@media(max-width: 320px){
    .navbar {
  }
}

.linksContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0.3%;
}

@media(max-width: 320px){
    .linksContainer {
       display: flex;
       flex-direction: column;
       width: 100%;
    }
}

@media(max-width: 360px){
  .linksContainer {
     display: flex;
     flex-direction: column;
     width: 100%;
  }
}

@media(max-width: 375px){
  .linksContainer {
     display: flex;
     flex-direction: column;
     width: 100%;
  }
}

@media(max-width: 411px){
  .linksContainer {
     display: flex;
     flex-direction: column;
     width: 100%;
  }
}

@media(max-width: 414px){
  .linksContainer {
     display: flex;
     flex-direction: column;
     width: 100%;
  }
}

@media(max-width: 480px){
  .linksContainer {
     display: flex;
     flex-direction: column;
     width: 100%;
  }
}


input {
    width: 70%
}

.mainContainer {
    background-position: start;
    background-position-y: 50%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: filled;
    background-size: 100%;
    
}

@media(max-width: 480px){
  .mainContainer {
     width: 100%;
  }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    margin: 2% auto;
    border-bottom: solid 1px black;
    border: solid 2px black;
    width: 80%;
    padding: 0.6%;
    background: linear-gradient(to top, #2980b9, #2c3e50);
    border-radius: 50px;

}

@media(max-width: 320px) {
    .projects {
width: 100%;
flex-direction: column;
border-radius: 0%;
margin: 5% 0%;
    }
}

@media(max-width: 360px) {
  .projects {
width: 100%;
flex-direction: column;
border-radius: 0%;
margin: 5% 0%;
  }
}

@media(max-width: 375px) {
  .projects {
width: 100%;
flex-direction: column;
border-radius: 0%;
margin: 5% 0%;
  }
}

@media(max-width: 411px) {
  .projects {
width: 100%;
flex-direction: column;
border-radius: 0%;
margin: 5% 0%;
  }
}

@media(max-width: 414px) {
  .projects {
width: 100%;
flex-direction: column;
border-radius: 0%;
margin: 5% 0%;
  }
}

@media(max-width: 480px) {
  .projects {
width: 100%;
flex-direction: column;
border-radius: 0%;
margin: 5% 0%;
  }
}

.projectContent {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column
}

@media(max-width: 320px){
  .projectContent {
  }
}


.projecttext {
    margin: 0%;
    width: 100%;
    background:  #2980b9;
    color:white
}

.tilt-in-fwd-tr {
	-webkit-animation: tilt-in-fwd-tr 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: tilt-in-fwd-tr 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            margin: 1% auto;
            display: flex;
            justify-content: space-evenly;
            width: 30%;
            flex-direction: column;
            border: solid 1px white;
}

@media(max-width: 320px){
  .tilt-in-fwd-tr {
     width: 100%;
     margin:'6% 0%'
  }
}

@media(max-width: 320px){
  .tilt-in-fwd-tr {
     width: 100%;
     margin:'6% 0%'
  }
}

@media(max-width: 360px){
  .tilt-in-fwd-tr {
     width: 100%;
     margin:'6% 0%'
  }
}

@media(max-width: 375px){
  .tilt-in-fwd-tr {
     width: 100%;
     margin:'6% 0%'
  }
}

@media(max-width: 411px){
  .tilt-in-fwd-tr {
     width: 100%;
     margin:'6% 0%'
  }
}

@media(max-width: 414px){
  .tilt-in-fwd-tr {
     width: 100%;
     margin:'6% 0%'
  }
}

@media(max-width: 480px){
  .tilt-in-fwd-tr {
     width: 100%;
     margin:'6% 0%'
  }
}

.roll-in-left {
	-webkit-animation: roll-in-left 6s ease-out both;
	        animation: roll-in-left 6s ease-out both;
            margin: 1% auto;
            display: flex;
            justify-content: space-evenly;
            width: 30%;
            flex-direction: column;
            border: solid 2px black;
}

@media(max-width: 600px){
    .roll-in-left {
        width: 90%;
       
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-11 5:19:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-fwd-tr
 * ----------------------------------------
 */
 @-webkit-keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  

/* ----------------------------------------------
 * Generated by Animista on 2020-9-10 14:8:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
