.mainContainer {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Cormorant', serif;
    background: white;
    padding:0.2%
 
}
@media(max-width: 320px){
    .mainContainer{
       
        overflow: hidden;
    }
}

@media(max-width: 360px){
  .mainContainer{
     
      overflow: hidden;
  }
}

@media(max-width: 375px){
  .mainContainer{
     
      overflow: hidden;
  }
}

@media(max-width: 411px){
  .mainContainer{
     
      overflow: hidden;
  }
}

@media(max-width: 414px){
  .mainContainer{
     
      overflow: hidden;
  }
}

@media(max-width: 480px){
  .mainContainer{
     
      overflow: hidden;
  }
}

.introBox {
    border: solid 2px black;
    width: 90%;
    margin: 00% auto;
    box-sizing: border-box;
    
}

@media(max-width: 320px){
    .introBox {
      width: 100%;
    }
}




.intro {
    box-sizing: border-box;
    display: flex; 
}



.greetingContainer {
    width: 100%;
    display: flex;
    
    
}


.greetingBoxLinks {
    box-sizing: border-box;
    width: 100%;
    margin: 1% auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media(max-width: 320px){
  .greetingBoxLinks{
      display: flex;
      flex-direction: column;
  }
}

@media(max-width: 360px){
  .greetingBoxLinks{
      display: flex;
      flex-direction: column;
  }
}

@media(max-width: 375px){
  .greetingBoxLinks{
      display: flex;
      flex-direction: column;
  }
}

@media(max-width: 411px){
  .greetingBoxLinks{
      display: flex;
      flex-direction: column;
  }
}

@media(max-width: 414px){
  .greetingBoxLinks{
      display: flex;
      flex-direction: column;
  }
}

@media(max-width: 480px){
  .greetingBoxLinks{
      display: flex;
      flex-direction: column;
  }
}

@media(max-width: 500px){
  .greetingBoxLinks{
      display: flex;
      flex-direction: column;
  }
}



.servicesandcareer {
    display: flex;
    justify-content: space-evenly;
}

@media(max-width: 375px) {
    .servicesandcareer {
        flex-direction: column;
        width: 100%
    }
}

@media(max-width: 411px) {
    .servicesandcareer {
        
        flex-direction: column
    }
}

@media(max-width: 480px) {
    .servicesandcareer {
        
        flex-direction: column
    }
}


.services {
    width: 48%;  
}

@media(max-width: 375px) {
    .services {
        width:100%;
        
    }
}

@media(max-width: 411px) {
    .services {
        width:100%;
        
    }
}

@media(max-width: 480px) {
    .services {
        width:100%;
        
    }
}

.careers {
    width: 48%;
}

@media(max-width: 375px) {
    .careers {
        width: 100%
    }
}

@media(max-width: 411px) {
    .careers {
        width: 100%
    }
}

@media(max-width: 480px) {
    .careers {
        width: 100%
    }
}


.welcomeText {
    font-size: 1rem;
    font-family: 'Cormorant', serif;
    width: 100%;
}
@media(max-width: 375px) {
    .welcomeText {
        width:100%;
        font-size: 16px
    }
}

@media(max-width: 411px) {
    .welcomeText {
        width:100%;
        font-size: 16px
    }
}

.langandsocial {
    width: 50%;
    text-align: center;
    color: white;

    margin:0 auto;
    box-sizing: border-box
    
}

@media(max-width: 375px){
    .langandsocial {
        margin: 0 auto;
        width: 50%;
        top: 40%
      
    }

}

.socialMediaContainer {
    width: 100%;
    margin: 0 auto;
     color: black
}

@media(max-width: 375px) {
    .socialMediaContainer {
        margin:0% auto;
    }
}
 .socialMedialTitle {

 }

 @media(max-width: 375px) {
    .socialMedialTitle {
    }
}

 .socialMediaIcons {

 }




/* ----------------------------------------------
 * Generated by Animista on 2020-9-6 13:16:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 */
 .button{
     width:100%
 }

 .button:hover{
     color:white;
    

     
 }

.flip-in-hor-top{
	-webkit-animation: flip-in-hor-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: flip-in-hor-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    width: 60%;
    
    margin: 0 auto;
    
}

.flip-in-hor-top:hover {
    color: white
}

@media (max-width: 320px){
    .flip-in-hor-top {
        width:100%
    }
}

@media (max-width: 360px){
  .flip-in-hor-top {
      width:100%
  }
}

@media (max-width: 375px){
  .flip-in-hor-top {
      width:100%
  }
}

@media (max-width: 411px){
  .flip-in-hor-top {
      width:100%
  }
}

@media (max-width: 414px){
  .flip-in-hor-top {
      width:100%
  }
}

@media (max-width: 480px){
  .flip-in-hor-top {
      width:100%
  }
}

@media (max-width: 500px){
  .flip-in-hor-top {
      width:100%
  }
}





@-webkit-keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
            transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
            transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}



.flip-in-ver-right {
	-webkit-animation: flip-in-ver-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
    animation: flip-in-ver-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
    width: 70%;
    margin: 0 auto;
   
    
}

@media(max-width: 320px) {
  .flip-in-ver-right {
     width:100%;
  }
}

@media(max-width: 360px) {
  .flip-in-ver-right {
     width:100%;
  }
}

@media(max-width: 375px) {
  .flip-in-ver-right {
     width:100%;
  }
}

@media(max-width: 411px) {
  .flip-in-ver-right {
     width:100%;
  }
}

@media(max-width: 414px) {
  .flip-in-ver-right {
     width:100%;
  }
}

@media(max-width: 480px) {
  .flip-in-ver-right {
     width:100%;
  }
}

@media(max-width: 500px) {
  .flip-in-ver-right {
     width:100%;
  }
}




@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}


.flip-in-ver-left {
	-webkit-animation: flip-in-ver-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 24s both;
    animation: flip-in-ver-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
    width: 80%;
    
    margin: 0 auto;
}

@media(max-width: 320px) {
    .flip-in-ver-left {
      width:100%;
    }
}

@media(max-width: 360px) {
  .flip-in-ver-left {
    width:100%;
  }
}

@media(max-width: 375px) {
  .flip-in-ver-left {
    width:100%;
  }
}

@media(max-width: 411px) {
  .flip-in-ver-left {
    width:100%;
  }
}

@media(max-width: 414px) {
  .flip-in-ver-left {
    width:100%;
  }
}

@media(max-width: 480px) {
  .flip-in-ver-left {
    width:100%;
  }
}

@media(max-width: 500px) {
  .flip-in-ver-left {
    width:100%;
    
  }
}

@-webkit-keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}

.bounce-in-right {
	-webkit-animation: bounce-in-right 10 both;
	        animation: bounce-in-right 10 both;
            width: 100%; 
            margin: 3% auto;
            color: black; 
            display: flex;
            justify-content: space-evenly
}

@media(max-width: 375px) {
    .bounce-in-right {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
    }
}

@media(max-width: 411px) {
    .bounce-in-right {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
}

@media(max-width: 480px){
    .bounce-in-right {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
}


@-webkit-keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.jello-horizontal {
    width: 105%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Cormorant', serif;
   
}

.pic1 {
    width: 10%;
}

@media(max-width: 375px) {
    .pic1 {
        
        width: 35% ;
    }
}

@media(max-width: 411px) {
    .pic1 {
        
        width: 35% ;
    }
}

@media(max-width: 480px) {
    .pic1 {
        
        width: 35% ;
    }
}



.jello-horizontal:hover {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

@media(max-width: 375px) {
    .jello-horizontal {
        width:'100%'
    }
}

@media(max-width:600px) {
    .jello-horizontal {
       
       
    }
}








/* ----------------------------------------------
 * Generated by Animista on 2020-9-11 20:22:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}


